:root {
  --primary-color: #f36100;
  --secondary-color: #fb8122;

  --primary-text-color: WHite;
  --secondary-text-color: #e1e2e2;

  --bgcolor: #1d2228;
  --bgcolor2: #051622;
}

body {
  background-color: var(--bgcolor);
  color: var(--primary-text-color);
}

.buy {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.buy:hover,
.buy:active,
.buy:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.card-header {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

#plans span {
  color: var(--primary-color);
}

.card {
  background-color: var(--bgcolor2);
  box-shadow: -3px 4px 19px 0px rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: -3px 4px 19px 0px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: -3px 4px 19px 0px rgba(255, 255, 255, 0.4);
}

.trial {
  background-color: var(--bgcolor2);
}
