:root {
  --primary-color: #f36100;
  --secondary-color: #fb8122;

  --primary-text-color: WHite;
  --secondary-text-color: #e1e2e2;

  --bgcolor: #1d2228;
  --bgcolor2: #051622;
}

body {
  background-color: var(--bgcolor);
  color: var(--primary-text-color);
}

/* NAVBAR STARTS */

.logo {
  width: 80px;
}
.nav-link {
  color: white !important;
  transition: 0.5s all;
}

.nav-link:hover {
  color: var(--primary-color) !important;
}

.login {
  color: var(--primary-text-color) !important;
  text-decoration: none;
}
/* NAVBAR ENDS */

/* HERO SECTION STARTS */
#home {
  height: 100vh;
}

.border-white {
  border-color: var(--secondary-color) !important;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(251, 129, 34, 0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(251, 129, 34, 0.75);
  box-shadow: 0px 0px 28px 0px rgba(251, 129, 34, 0.75);
}
.membership {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.membership:hover,
.membership:active,
.membership:focus {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  border-color: var(--secondary-color);
}

/* HERO SECTION ENDS */

/* ABOUT SECTION STARTS */
#about {
  height: 100vh;
  background-image: url(Assests/Cardio/pexels-leon-ardho-1552242.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.description {
  background-color: rgba(255, 255, 255, 0.4);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.32);
}
/* ABOUT SECTION ENDS */

/* SERVICES SECTION STARTS */

#services a {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: 0.5s all;
}

#services a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
#services a:active {
  /* color: var(--secondary-color); */
  color: white;
  text-decoration: none;
}

#services li {
  margin: 20px;
  background-color: transparent;
}
#services img {
  width: 100%;
}
.images {
  padding: 0 !important;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(251, 129, 34, 0.75);
  -moz-box-shadow: 0px 0px 28px 0px rgba(251, 129, 34, 0.75);
  box-shadow: 0px 0px 28px 0px rgba(251, 129, 34, 0.75);
}

.membership:hover,
.membership:active,
.membership:focus {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color) !important;
  border-color: var(--secondary-color);
}

/* Cards */
.card {
  background-color: var(--bgcolor2);
  align-items: center;
}
#services i {
  font-size: 100px;
  padding: 30px 20px;
}
.card-title {
  color: var(--secondary-color);
}

/* Cards */

/* SERVICES SECTION ENDS */

/* TEAM SECTION STARTS */
#team .card {
  transition: transform 0.5s ease;
}

#team .card:hover {
  transform: scale(1.1);
}

#team .membership {
  transition: transform 0.5s ease;
}

#team .membership:hover,
.membership:active,
.membership:focus {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color) !important;
  border-color: var(--secondary-color);
  transform: scale(1.1);
}
/* TEAM SECTION ENDS */

/* CONTACT SECTION STARTS */
#contact li {
  background-color: transparent;
}

#contact a {
  color: var(--primary-text-color);
  text-decoration: none;
}

#contact img {
  width: 100%;
}
/* CONTACT SECTION ENDS  */
